.drum-pad-container {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
}

.drum-pad {
    height: 30vw;
    width: 30vw;
}

@media all and (min-width: 420px) {
    .drum-pad-container {
        width: 360px;
    }

    .drum-pad {
        height: 120px;
        width: 120px;
    }
}
